.navigationBar{
  background-color: #eee;
  padding: 20px;
  box-shadow: grey;
  text-align: center;
  font-size: 22px;
}

.loginErrorMessage{
  font-size: 18px;
  color: red;
}

.logOutButton{
  float: right;
}

.mainDashboardConatainer{
  display: flex;
}

.sidebar{
  max-width: 500px;
  border: 1px solid;
}

.studentsContainer{
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid;
}